@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.btn-block {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  bottom: 295px;
  left: 80px;

  @media (max-width: $mobile-width) {
    bottom: 13px;
    left: 0;
    gap: 10px;
  }
}

.btn-block__text-block {
  font-family: $basic-font;
  font-weight: 400;
  font-size: 14px;
  color: #42567A;
}

.btn-block__switch-block {
  display: flex;
  gap: 20px;

  @media (max-width: $mobile-width) {
    gap: 8px;
  }
}

.btn-block__switch {
  width: 50px;
  height: 50px;
  border: 1px solid rgb(66, 86, 122, 0.5);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $mobile-width) {
    width: 25px;
    height: 25px;
  }

  svg {
    width: 6px;
    height: 12px;
  }

  &--next {
    rotate: 180deg;
  }

  &--disabled {
    opacity: 0.3;
    cursor: not-allowed;
    pointer-events: none;

    &:hover {
      background-color: transparent;
      border-color: rgba(66, 86, 122, 0.3);
    }
  }
}
