@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.circle {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  top: 215px;
  left: 50%;
  transform: translate(-50%);

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.circle__section {
  width: 536px;
  height: 530px;
  position: relative;
  transition: transform 0.6s ease;
}

.circle__button {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #42567A;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 5;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease, height 0.3s ease, transform 0.6s ease;

  span {
    display: none;
    font-family: $basic-font;
    font-size: 20px;
    color: #42567A;
  }

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 5;
  }
}

.circle__button--mouseenter {
  width: 56px;
  height: 56px;
  background-color: #F4F5F9;
  border: 1px solid rgba(48, 62, 88, 0.5);

  span {
    display: block;
  }
}

.circle__button--active {
  width: 56px;
  height: 56px;
  background-color: #F4F5F9;
  border: 1px solid rgba(48, 62, 88, 0.5);

  span {
    display: block;
  }
}

.circle__button-label {
  position: absolute;
  left: 70px;
  top: 50%;
  transform: translateY(-50%);
  font-family: $basic-font;
  font-weight: 700;
  font-size: 20px;
  color: #42567A;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease 0.3s, visibility 0.3s ease 0.3s;
  white-space: nowrap;
  pointer-events: none;
  z-index: 25;

  &--visible {
    opacity: 1;
    visibility: visible;
  }
}
