@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.date-description {
  width: 100%;
  position: absolute;
  bottom: 104px;
  height: 165px;

  @media (max-width: $mobile-width) {
    bottom: 0;
    top: 313px;
  }
}

.date-description__container {
  margin: 0 80px 0 80px;
  overflow: hidden;
  position: relative;
  z-index: 8;

  @media (max-width: $mobile-width) {
    margin: 0;
    overflow: visible;
  }
}

.date-description__list {
  margin: 0;
  padding: 0;
}

.date-description__item {
  max-width: 400px;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    max-width: 166px;
  }
}

.date-description__item-content {

  h2 {
    font-family: $secondary-font;
    font-weight: 400;
    font-size: 25px;
    line-height: 120%;
    color: #3877EE;
    margin: 0 0 15px 0;

    @media (max-width: $mobile-width) {
      font-size: 16px;
      line-height: 120%;
    }
  }

  p {
    margin: 0;
    font-family: $basic-font;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #42567A;

    @media (max-width: $mobile-width) {
      font-size: 14px;
      line-height: 145%;
    }
  }
}

.date-description__button-blok {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 7;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.date-description__button {
  padding: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: transparent;
  cursor: pointer;
  box-sizing: border-box;
  background-color: $color-background-white;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(0 2px 4px rgba(56, 119, 238, 0.15));

  svg {
    width: 5px;
    height: 10px;
  }

  &--next {
    margin: 0 20px 0 0;
  }

  &--prev{
    margin: 0 0 0 20px;

    svg {
      rotate: 180deg;
    }
  }
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
