@use "../common/variables.scss" as *;
@use "../common/mixins" as *;

.timeline {
  background-color: $color-background-fonpage;

  @media (max-width: $mobile-width) {
    overflow: hidden;
  }
}

.timeline__container {
  width: 1440px;
  height: 1080px;
  margin: 0 auto;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;

  @media (max-width: $mobile-width) {
    width: 280px;
    border: 0;
    margin: 0 auto;
    height: 568px;
  }

  h1 {
    max-width: 353px;
    font-family: $basic-font;
    font-weight: 700;
    font-size: 56px;
    line-height: 120%;
    padding: 0 0 0 80px;
    margin: 0;
    color: #42567A;
    -webkit-text-stroke: 1px #000000;
    position: absolute;
    top: 170px;
    z-index: 3;

    @media (max-width: $mobile-width) {
      padding: 0;
      font-size: 20px;
      -webkit-text-stroke: 0;
      top: 53px;
      max-width: 123px;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 5px;
      height: 100%;
      background: linear-gradient(to bottom, #3877EE, #EF5DA8);

      @media (max-width: $mobile-width) {
        display: none;
      }
    }
  }

  &::after {
    content: "";
    display: block;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -2;

    @media (max-width: $mobile-width) {
      display: none;
    }
  }

  &::before {
    content: "";
    display: block;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    position: absolute;
    top: 480px;
    left: 0;
    z-index: -2;

    @media (max-width: $mobile-width) {
      top: 293px;
      width: 280px;
      background-color: #C7CDD9;
    }
  }
}
