 /* Fonts */
$basic-font: "PTSans";
$secondary-font: "BebasNeue";

 /* Viewports */
$tablet-width: 1023px;
$mobile-width: 767px;

 /*--- Color ---*/
$color-background-white: #FFFFFF;
$color-background-fonpage: #F4F5F9;
$color-background-gradient: linear-gradient(to right, #3877EE, #EF5DA8);

